.custom-input {
	background-color: #ffffff;
	color: #1f1f1f;
	border: none;

	.ant-input-disabled {
		background-color: #ffffff;
	}

	&:where(.css-dev-only-do-not-override-1031qh6).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
		background-color: #ffffff;
	}

	&:where(.css-dev-only-do-not-override-1031qh6).ant-input-affix-wrapper .anticon.ant-input-password-icon {
		color: rgba(0, 0, 0, 0.45);
	}

	&:hover {
		background-color: #ffffff;
	}
	&:focus-within {
		background-color: #ffffff;
		box-shadow: 0 0 0 2px rgba(248, 217, 215, 0);
	}
}

.login-btn {
	width: 100%;
	margin-top: 10px;
	white-space: nowrap;
	.ant-form-item-control-input-content {
		display: flex;
		justify-content: space-between;
		.ant-btn {
			width: 180px;
			span {
				font-size: 14px;
			}
		}
	}
	.btn {
		&:where(.css-dev-only-do-not-override-1031qh6).ant-btn-default {
			background: #ffffff;
			border-color: #d9d9d9;
			color: rgba(0, 0, 0, 0.88);
		}
	}
}
