.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: 0 0 12px rgb(0 0 0 / 12%);
	a {
		font-size: 14px;
		color: #858585;
		text-decoration: none;
		letter-spacing: 0.5px;
		white-space: nowrap;
		user-select: none;
	}
}
